$progress-color: #a4ecba;

#nprogress .bar {
  background: $progress-color;
  height: 4px;
}

#nprogress .peg {
  box-shadow: 0 0 10px $progress-color, 0 0 5px $progress-color;
}

#nprogress .spinner-icon {
  border-top-color: $progress-color;
  border-left-color: $progress-color;
}
